:root {
    --max-width-sm: 420px;
    --max-width-md: 700px;
    --max-width-lg: 900px;
    --max-width-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Custom containers*/
@media (max-width: 575px) {
    .custom-container-sm {
        max-width: var(--max-width-sm) !important;
    }

    .custom-container-md {
        max-width: var(--max-width-md) !important;
    }

    .custom-container-lg {
        max-width: var(--max-width-lg) !important;
    }

    .custom-container-xl {
        max-width: var(--max-width-xl) !important;
    }
}

@media (min-width: 576px) {
    .custom-container-sm {
        max-width: var(--max-width-sm) !important;
    }

    .custom-container-md {
        max-width: var(--max-width-md) !important;
    }

    .custom-container-lg {
        max-width: var(--max-width-lg) !important;
    }

    .custom-container-xl {
        max-width: var(--max-width-xl) !important;
    }
}

@media (min-width: 768px) {
    .custom-container-sm {
        max-width: var(--max-width-sm) !important;
    }

    .custom-container-md {
        max-width: var(--max-width-md) !important;
    }

    .custom-container-lg {
        max-width: var(--max-width-lg) !important;
    }

    .custom-container-xl {
        max-width: var(--max-width-xl) !important;
    }
}

@media (min-width: 992px) {
    .custom-container-sm {
        max-width: var(--max-width-sm) !important;
    }

    .custom-container-md {
        max-width: var(--max-width-md) !important;
    }

    .custom-container-lg {
        max-width: var(--max-width-lg) !important;
    }

    .custom-container-xl {
        max-width: var(--max-width-xl) !important;
    }
}

@media (min-width: 1200px) {
    .custom-container-sm {
        max-width: var(--max-width-sm) !important;
    }

    .custom-container-md {
        max-width: var(--max-width-md) !important;
    }

    .custom-container-lg {
        max-width: var(--max-width-lg) !important;
    }

    .custom-container-xl {
        max-width: var(--max-width-xl) !important;
    }
}

.custom-margin-top-2 {
    margin-top: 2rem;
}

.custom-margin-top-4 {
    margin-top: 4rem;
}

.custom-margin-top-6 {
    margin-top: 6rem;
}

.custom-margin-text {
    margin-top: 10rem !important;
    margin-bottom: 5rem !important;
}

.custom-margin-x-0-1 {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.custom-font-size-0-5 {
    font-size: 0.5rem !important;
}

.custom-font-size-1 {
    font-size: 1rem !important;
}

.custom-font-size-1-5 {
    font-size: 1.5rem !important;
}

.custom-font-size-5 {
    font-size: 5rem !important;
}

.custom-font-size-7 {
    font-size: 7rem !important;
}

.custom-color-inherit {
    color: inherit;
}

.custom-color-inherit:hover {
    color: inherit;
}

.custom-prevent-overflow {
    overflow-wrap: break-word;
}

.custom-hor-cont-margin-top-first {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.custom-hor-cont-margin-bottom {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.custom-hor-cont-margin-bottom-last {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.custom-tab-panel-margin {
    margin: 1.5rem 0.5rem !important;
}

.custom-search-box-margin {
    margin-top: 0.5rem !important;
}

.custom-render-card-margin {
    margin-top: 0.5rem !important;
}

.custom-create-form-margin {
    margin: 1.5rem 0.5rem !important;
}
